::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}
body {
 
  background-image: url(../image/כתמי\ צבע.png);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: Arial, sans-serif;
  margin-top: 0%;
}

.drip {
 
  position: fixed;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border-top-right-radius: 10%;
  transform: rotate(0.8turn) rotate(0.07turn); /* סיבוב חצי סיבוב שמאלה */
}

.orange {
  
  background-color:#ff8c00;
}

.pink {
  opacity: 0.7;
  background-color: crimson;
}

.green {
  opacity: 0.5;
  background-color: green;
}

.yellow {
  
  background-color: yellow;
}

.lightblue {
  
  background-color: lightblue;
}
#bowl {
  
    animation: slide 2s ease-out;
    animation-name: enter;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    width: 200px;
    height: 305px;
    border: 10px solid gray;
    overflow: hidden;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: hidden;
    border-bottom:  35px solid gray; 
   }
  
  
 
#bowl .red-fill {

  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 3%;
  position: absolute;
   bottom: 0;
  /* left: 0;  */
  width: 96%;
  height: 0;
  background-color:#ff8c00;
  transition: height 0.5s ease-in;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* a message */
#message {
  position: relative;
  background: color #ea8c26;
  margin: auto;
  padding: 0;
  border: 5px solid black;
  width: 50%;
  height: 45%;
  box-shadow: 0 4px 8px 0 #ea8c26, 0 6px 20px 0 #ea8c26;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  z-index: 1;
  display: none;
}


@-webkit-keyframes animatetop {
  from {
    top: 0;
    opacity: 1
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

h1,
h3 {
  
 
  align-items: center;
  margin-top: 10px;
  text-align: center;
  font-size: 80px;
  font-family: "Pacifico", cursive;
  color:black;
  text-shadow: 5px 5px #ff8c00, 10px 10px 5px #ff8c00;
}
h3 {
  font-size: 165%;
}

h1{
  font-size: 270%;
}

.options {
  
  margin-top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: bisque;
  border: 3px solid black;
  color:black;
  font-size: 30px;
  font-family: "Pacifico", cursive;
  border-radius: 5px;
  margin-left: 23%;
  margin-right: 23%;
  margin-bottom: 3%;
}



@keyframes enter {
  from {
    left: 100%; /* Start from the right side */
    transform: translateX(0); /* Ensure it's centered horizontally */
  }
  to {
    right: 50%; /* Move to the center */
    transform: translateX(-50%); /* Keep it centered horizontally */
  }
}

@keyframes exit {
  from {
    left: 50%; /* Start from the center */
    transform: translateX(-50%); /* Ensure it's centered horizontally */
  }
  to {
    left: -50%; /* Move to the left side */
    transform: translateX(0); /* Ensure it's aligned horizontally */
  }
}

@keyframes exist {
  from {
    right: 33vw;
  }
  to {
    left: 0;
  }
}
/* timer */
#timer {
  position: absolute;
  top: 0;
  left: 5px;
  color: black;
  font-size: 200%;
  font-family: "Pacifico", cursive;  padding: 0.5%;
  padding-top: 1%;
  border: black;
  font-size: 250%;
}

/* Animation for emptying the cup */
@keyframes emptyCup {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0% 0);
  }
}



#cup{
  position: absolute;
  top: 0;
  right: 22%;
  color: black;
  font-family: "Pacifico", cursive;  padding: 0.5%;
  padding-top: 1%;
  border: black;
  font-size: 180%;
 
 
}
#player {
  right: 8%;
  position: absolute;
  top: 0;
  color: black;
  font-family: "Pacifico", cursive;  padding: 0.5%;
  padding-top: 1%;
  border: black;
  font-size: 180%;
 
}

#cuptext{
  
  position: absolute;
  top: 0;
  right: 18%;
  color: black;
  font-family: "Pacifico", cursive;  padding: 0.5%;
  padding-top: 1%;
  border: black;
  font-size: 180%;
  text-decoration: underline;
 
 
}


#playertext {
  
  right:5%;
  position: absolute;
  top: 0;
  color: black;
  font-family: "Pacifico", cursive;  padding: 0.5%;
  padding-top: 1%;
  border: black;
  font-size: 180%;
  text-decoration: underline;
 
}



/* back */
#back {
  position: absolute;
  top: 2.7%;
  right: 1%;
  font-size: 200%;
}

