body{
    background-color: bisque;
}
#logo{
margin-left: 90px;
margin-top: 0px;
height: 250px;
}

#fruit-image{
    
    border-radius: 150%;  
    margin-right: 60px;
    width: 26%;

}
#enter_name{
position: absolute;
  top: 20%;
  left: 45.5%;
  
  transform: translate(-40%, -10%);
  border: none;
  background: none;
  color: black;
  font-size: 30px;
  font-family: "Sofia", sans-serif;
  font-size: 50px;
  text-shadow: 3px 3px 3px #ababab;

}
.container {
    position: relative;
    text-align: center;
    color: black
  }
  /* קלט שחקן-שם פרטי */
#firstNameInput{
position: absolute;
  top: 45%;
  left: 52%;
  transform: translate(-40%, -10%);
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 10%;
  background:none;
  color: black;
 width: 10%;
 height: 10%;
margin-left: -85px;
font-family: "Sofia", sans-serif;
font-size: 150%;

    
}
::placeholder{
    color: yellow;
    border: none;
    
}

/* אייקון play */
.material-icons{
    position: absolute;
    top: 60%;
    left:47%;
    
    transform: translate(-40%, -10%);
    border: none;
    background: none;
    color: black;


}
/* הוראות */



.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top:50px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color:black;
  margin: auto;
  padding: 20px;
border-width: 150%;
 border-color: yellow;
  width: 80%;
  color: yellow;
  height: 45%;
  font-size: 200%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* The Close Button */
.close {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:yellow;
  text-decoration: none;
  cursor: pointer;
}
#myBtn{
  background: none;
   border: none;


}